@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root {
 --background-color: #F3F5F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background: var(--background-color);
}
